/* body{
     width: 80%; margin: 0 auto;
}
ul li{
     padding: 15px; text-transform: capitalize; list-style: none;
     font-weight: bold; display: block;
}
ul li:first-child{
     background-color: gray;    
}
ul li span:not(:nth-of-type(2)){
     color: #A9A9A9;
}
ul li span:nth-of-type(2){
     color: #BA55D3;
}
ul li:not(:first-child):nth-of-type(odd){
     background-color: #D3D3D3;
}
ul li span:not(:nth-child(2)){
     width: 15%;
}
ul li span:nth-child(2){
     width: 40%;
}
ul li:nth-of-type(even):hover{
     background-color: #7B68EE;
}
ul li:not(:first-child):nth-of-type(odd):hover{
     background-color: lightblue;
} */



body{
     width: 80%; margin: 0 auto;
}
ul li{
     padding: 15px; list-style: none; text-transform: capitalize; font-weight: 600;
}
ul li:first-child{
     background-color: gray;
}
ul li:not(:first-child):nth-of-type(odd){
     background-color: lightgray;
}
ul li span:nth-child(2){
     color: #BA55D3;
}
ul li span:not(:nth-child(2)){
     color: #A9A9A9;
}
ul li:last-child{
     border-bottom: 2px solid #BA55D3;
}
ul li:not(:first-child):nth-of-type(odd):hover{
     background-color: rgb(196, 243, 255);
}
ul li:nth-of-type(even):hover{
     background-color: rgb(166, 137, 245);
}
body form{
     position: relative;
}
body form fieldset{
     border-style: none; position: absolute; left: 50%; margin-left: -111px;
}
body > div{
max-width: 400px; margin: 0 auto; position: relative;
line-height: 30px;
}
body > div > a{
position: absolute; display: blcok; top: 0; text-decoration: none;
}
body > div > a:first-of-type{
left: 0;
}
body > div > a:last-of-type{
right: 0;
}
body > div > ol{
padding: 0 25px; margin: 0; text-align: center;
}
body > div ol li{
display: inline-block; 
}
body > div ol li a{
text-decoration: none; font-size: 14px; padding: 7px 10px; 
}